
.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled:hover {
    opacity: 0.5;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-minus, .quantity-plus {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity {
    font-weight: bold;
    font-size: 16px;
}

