{% extends 'parent/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/god.css' %}" xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block content %}
		<main class="main checkout rtl text-right">
			<div class="page-content pt-7 pb-10 mb-10">
				<div class="step-by pr-4 pl-4">
					<h3 class="title title-simple title-step"><a href="cart.html" class="disabled">1. سبد خرید</a></h3>
					<h3 class="title title-simple title-step active"><a href="checkout.html" class="disabled">2. صورت حساب</a></h3>
					<h3 class="title title-simple title-step"><a href="order.html" class="disabled">3. تکمیل خرید</a></h3>
				</div>

                <div class="card accordion">
                    <div class="alert alert-light alert-primary alert-icon mb-4 card-header">
                        <i class="fas fa-exclamation-circle"></i>
                        <span class="text-body">آیا کد تخفیف دارید؟</span>
                        <a href="#alert-body2" class="text-primary">کد تخفیف خود را اینجا وارد نمایید </a>
                    </div>
                    <div class="alert-body collapsed" id="alert-body2">
                        <p>اگر کد تخفیف دارید، لطفاً آن را در زیر اعمال کنید.</p>
                        <div class="check-coupon-box d-flex">
                            <form action="{% url 'store:discount_code' %}" method="post" class="my-discount-form">
                                {% csrf_token %}
                                <input type="text" name="copen_code"
                                       class="input-text form-control text-grey ls-m mr-4 mb-4" id="coupon_code" value=""
                                       placeholder="کد تخفیف">
                                <button type="submit" class="btn btn-dark btn-rounded btn-outline mb-4 btn-discount">
                                        اعمال کد تخفیف
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

					<form method="post" class="form">
                        {% csrf_token %}
                    <h1>{{ form.errors }}</h1>
						<div class="row">
							<div class="col-lg-7 mb-6 mb-lg-0 pr-lg-4">
								<h3 class="title title-simple text-uppercase">جزئیات صورتحساب</h3>
								<div class="row">
									<div class="col-xs-6">
										<label>نام *</label>
										{{ form.first_name }}
									</div>
									<div class="col-xs-6">
										<label>نام خانوادگی *</label>
                                        {{ form.last_name }}
									</div>
								</div>
								<label>کشور / منطقه *</label>
								<div class="select-box">
									<select name="country" class="form-control">
										<option value="us" selected>ایران</option>

									</select>
								</div>
								<label>آدرس دقیق *</label>
								{{ form.detailed_address }}

								<div class="row">
									<div class="col-xs-6">
										<label>شهر / منطقه *</label>
										{{ form.city }}
									</div>
									<div class="col-xs-6">
										<label>استان *</label>
										{{ form.province }}
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<label>پلاک *</label>
										{{ form.plaque }}
									</div>
                                    <div class="col-xs-6">
										<label>پلاک *</label>
										{{ form.postal_code }}
									</div>
									<div class="col-xs-6">
										<label>تلفن دریافت کننده *</label>
										{{ form.recipient_phone }}
									</div>
								</div>


								<h2 class="title title-simple text-uppercase ">اطلاعات تکمیلی</h2>
								<label>یاداشت های سفارش (اختیاری)</label>
								{{ form.note }}
							</div>
							<aside class="col-lg-5 sticky-sidebar-wrapper">
								<div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
									<div class="summary pt-5">
										<h3 class="title title-simple text-uppercase">سفارش شما</h3>
										<table class="order-table">
											<thead>
												<tr>
													<th>محصول</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
                                            {% for item in cart %}
												<tr>
													<td class="product-name">
														{{ item.product.name }} <span class="product-quantity">×&nbsp;1</span>
													</td>
													<td class="product-total text-body">{{ item.product.price }} تومان</td>
												</tr>
                                            {% endfor %}
												<tr class="summary-subtotal">
													<td>
														<h4 class="summary-subtitle">جمع قبل از تخفیف </h4>
													</td>
													<td class="summary-subtotal-price pb-0 pt-0">
														{{ cart.get_total_price }} تومان
													</td>
												</tr>
												<tr class="sumnary-shipping shipping-row-last">
													<td colspan="2">
														<h4 class="summary-subtitle">محاسبه حمل و نقل</h4>
														<ul>
															<li>
																<div class="custom-radio">

																	<input type="radio" id="flat_rate" name="shipping"
																		   class="custom-control-input" checked>
																	<label class="custom-control-label"
																		   for="flat_rate">پست</label>

																</div>
                                                                <span>هزینه حمل نقل: {{ cart.get_total_post}}</span>
															</li>
															<li>

															</li>

														</ul>
													</td>
												</tr>
												<tr class="summary-total">
													<td class="pb-0">
														<h4 class="summary-subtitle">جمع نهایی</h4>
													</td>
													<td class=" pt-0 pb-0">
														<p class="summary-total-price ls-s text-primary final-price original-price'" data-final-price="{{ cart.get_final_price }}">{{ cart.get_final_price }} تومان</p>
													</td>
												</tr>
											</tbody>
										</table>
										<div class="payment accordion radio-type">
											<h4 class="summary-subtitle ls-m pb-3">نحوه پرداخت </h4>
											<div class="card">
												<div class="card-header">
													<a href="#collapse1"
													   class="collapse text-body text-normal ls-m">
														پرداخت با درگاه پرداخت
													</a>
												</div>
												<div id="collapse1" class="expanded" style="display: block;">
													<div class="card-body ls-m">
                                                        گزینه ثبت سفارش رو بزنید و به درگاه منتقل بشید
                                                    </div>
												</div>
											</div>

										</div>
										<div class="form-checkbox mt-4 mb-5">
											<input type="checkbox" class="custom-checkbox" id="terms-condition"
												   name="terms-condition" checked />
											<label class="form-control-label" for="terms-condition">
												من شرایط و ضوابط وبسایت را خوانده ام و با آن موافقم .<a href="#">
												</a>
											</label>
										</div>
										<button type="submit" class="btn btn-dark btn-rounded btn-order">
											ثبت سفارش
										</button>
									</div>
								</div>
							</aside>
						</div>
                    <span>{{ form.errors }}</span>
					</form>
            </div>
		</main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.my-discount-form').submit(function(e){
            e.preventDefault();
            var MyForm = $(this)
            var MyData = MyForm.serialize()
            var Order_total = $('.final-price').data('final-price')

            MyData += '&order_total='+Order_total;

            $.ajax({
               url: '{% url "store:discount_code" %}',
                data: MyData,
                method: 'POST',
                success: function (data) {
                   if (data.success) {
                       var TotalPrice = data.total32
                       var apply = 'کد با موفقیت اعمال شد'
                       $('.final-price').text(TotalPrice);
                       $('.btn-discount').text(apply)
                   }else{
                       var accepted = 'کد تخفیف منقضی شده است'
                       $('.btn-discount').text(accepted)
                   }
                },
                error: function (error) {
                    console.log(error)
                },
            });
        });
    });
    </script>
{% endblock %}