{% extends 'parent/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/god.css' %}" xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block content %}
    		<main class="main order rtl text-right">
			<div class="page-content pt-7 pb-10 mb-10">
				<div class="step-by pr-4 pl-4">
					<h3 class="title title-simple title-step"><a href="cart.html" class="disabled">1. سبد خرید</a></h3>
					<h3 class="title title-simple title-step"><a href="checkout.html" class="disabled">2. صورت حساب</a></h3>
					<h3 class="title title-simple title-step active"><a href="order.html" class="disabled">3. تکمیل خرید</a></h3>
				</div>
				<div class="container mt-8">
					<div class="order-message mr-auto ml-auto">
						<div class="icon-box d-inline-flex align-items-center">
							<div class="icon-box-icon mb-0">
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
									enable-background="new 0 0 50 50" xml:space="preserve">
									<g>
										<path fill="none" stroke-width="3" stroke-linecap="round"
											stroke-linejoin="bevel" stroke-miterlimit="10" d="
											M33.3,3.9c-2.7-1.1-5.6-1.8-8.7-1.8c-12.3,0-22.4,10-22.4,22.4c0,12.3,10,22.4,22.4,22.4c12.3,0,22.4-10,22.4-22.4
											c0-0.7,0-1.4-0.1-2.1"></path>
										<polyline fill="none" stroke-width="4" stroke-linecap="round"
											stroke-linejoin="bevel" stroke-miterlimit="10" points="
											48,6.9 24.4,29.8 17.2,22.3 	"></polyline>
									</g>
								</svg>
							</div>
                            {% if orders %}
							<div class="icon-box-content text-right">
								<h5 class="icon-box-title font-weight-bold lh-1 mb-1">متشکریم از خرید شما!</h5>
								<p class="lh-1 ls-m"> خرید شما در انتظار ارسال است  </p>
							</div>
						</div>
					</div>
					<div class="order-results">
						<div class="overview-item">
							<span>شماره سفارش:</span>
							<strong>{{ orders.id }}</strong>
						</div>
						<div class="overview-item">
							<span>وضعیت:</span>
							<strong>{{ orders.status }}</strong>
						</div>
						<div class="overview-item">
							<span> تاریخ  :</span>
							<strong>{{ orders.created }}</strong>
						</div>
						<div class="overview-item">
							<span>ایمیل:</span>
							<strong>{{ orders.buyer.email }}</strong>
						</div>
						<div class="overview-item">
							<span> جمع:</span>
							<strong> {{ orders.get_final_cost }} تومان </strong>
						</div>
						<div class="overview-item">
							<span>روش پرداخت:</span>
							<strong>درگاه پرداخت</strong>
						</div>
					</div>
					<h2 class="title title-simple text-right pt-4 font-weight-bold text-uppercase">جزئیات فاکتور</h2>
					<div class="order-details">
						<table class="order-details-table">
							<thead>
								<tr class="summary-subtotal">
									<td>
										<h3 class="summary-subtitle">محصول</h3>
									</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
                            {% for item in orders.items.all %}
								<tr>
									<td class="product-name">{{ item.product.name }}<span> <i class="fas fa-times"></i>
											1</span></td>
									<td class="product-price"> {{ item.price }} تومان </td>
								</tr>
                            {% endfor %}

								<tr class="summary-subtotal">
									<td>
										<h4 class="summary-subtitle">جمع قبل از تخفیف:</h4>
									</td>
									<td class="summary-subtotal-price"> {{ orders.get_total_cost }} تومان </td>
								</tr>
								<tr class="summary-subtotal">
									<td>
										<h4 class="summary-subtitle"> حمل و نقل:</h4>
									</td>
									<td class="summary-subtotal-price">{{ orders.get_post_cost }}  </td>
								</tr>
								<tr class="summary-subtotal">
									<td>
										<h4 class="summary-subtitle">روش پرداخت:</h4>
									</td>
									<td class="summary-subtotal-price">مستقیم  درگاه پرداخت</td>
								</tr>
								<tr class="summary-subtotal">
									<td>
										<h4 class="summary-subtitle"> جمع:</h4>
									</td>
									<td>
										<p class="summary-total-price"> {{ orders.get_final_cost }} تومان </p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h2 class="title title-simple text-right pt-10 mb-2">آدرس مقصد</h2>
					<div class="address-info pb-8 mb-6">
						<p class="address-detail pb-2">
							<br>
                            {{ orders.address.province }}-{{ orders.address.city }}<br>
                            {{ orders.address.detailed_address}}-{{ orders.address.postal_code }}<br>
							{{ orders.address.recipient_phone }}
						</p>
						<p class="email">{{ orders.buyer.email }}</p>
					</div>
					<a href="{% url 'store:index' %}" class="btn btn-icon-right btn-dark btn-back btn-rounded btn-md mb-4">بازگشت به فروشگاه<i
							class="d-icon-arrow-left"></i></a>
				</div>
			</div>
                                {{ message }}
            {% else %}
                                <div class="icon-box-content text-right">
                                    <h5 class="icon-box-title font-weight-bold lh-1 mb-1">پرداخت انجام نشد!</h5>
                                    <p class="lh-1 ls-m"><a href="{% url 'store:index' %}">بازگشت به فروشگاه</a></p>
                                    <p class="lh-1 ls-m"><a href="{% url 'store:index' %}">{{ message }}</a></p>
                                </div>
            {% endif %}
		</main>
{% endblock %}