{% extends 'parent/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/god.css' %}">{% endblock %}
{% block content %}



            <main class="main rtl text-right">
            <div class="page-content">
                <section class="intro-section ltr">
                    <div class="owl-carousel owl-theme owl-rtl row owl-dot-inner owl-dot-white intro-slider animation-slider cols-1 gutter-no ltr"
                         data-owl-options="{
                        'nav': false,
                        'dots': true,
                        'loop': false,
                        'items': 1,
                        'autoplay': false,
                        'autoplayTimeout': 8000
                    }">
                        <div class="banner banner-fixed intro-slide1">
                            <figure>
                                <img src="{% static 'images/خدایااا.jpg' %}" alt="intro-banner" class="banner-image" />
                            </figure>
                            <div class="container">
                                <div class="banner-content y-50 text-right rtl">
                                    <h4 class="banner-subtitle font-weight-bold ls-l">
                                        <span class="d-inline-block slide-animate"
                                              data-animation-options="{'name': 'fadeInRightShorter', 'duration': '1s', 'delay': '.2s'}">یکی بخرید</span>
                                        <span class="d-inline-block label-star bg-white text-primary slide-animate"
                                              data-animation-options="{'name': 'fadeInRightShorter', 'duration': '1s', 'delay': '.4s'}">2 تا ببرید</span>
                                    </h4>
                                    <h2 class="banner-title font-weight-bold text-white lh-1 ls-md slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                        حراج آخر فصل
                                    </h2>
                                    <p class="slide-animate text-white ls-s mb-7"
                                       data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                        تمام سفارش های بالای 300 هزار تومان رایگان ارسال می شوند
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="container mt-6 appear-animate">
                        <div class="service-list">
                            <div class="owl-carousel owl-theme owl-rtl row cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
                                 'rtl':true,
                                    'items': 1,
                                    'nav': false,
                                    'dots': false,
                                    'loop': false,
                                    'autoplay': false,
                                    'autoplayTimeout': 5000,
                                    'responsive': {
                                        '0': {
                                            'items': 1
                                        },
                                        '576': {
                                            'items': 2
                                        },
                                        '768': {
                                            'items': 3,
                                            'loop': false
                                        }
                                    }
                                }">
                                <div class="icon-box icon-box-side icon-box1 appear-animate rtl" data-animation-options="{
                                        'name': 'fadeInRightShorter',
                                        'delay': '.3s'
                                    }">
                                    <i class="icon-box-icon d-icon-truck"></i>
                                    <div class="icon-box-content rtl">
                                        <h4 class="icon-box-title text-capitalize ls-normal lh-1">
                                            ارسال رایگان
                                        </h4>
                                        <p class="ls-s lh-1">سفارش های بالاتر از 300 هزار تومان</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side icon-box2 appear-animate rtl" data-animation-options="{
                                        'name': 'fadeInRightShorter',
                                        'delay': '.4s'
                                    }">
                                    <i class="icon-box-icon d-icon-service"></i>
                                    <div class="icon-box-content rtl">
                                        <h4 class="icon-box-title text-capitalize ls-normal lh-1">
                                            پشتیبانی 24 ساعته
                                        </h4>
                                        <p class="ls-s lh-1">هر مشکلی داشته باشید حل میکنیم</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side icon-box3 appear-animate rtl" data-animation-options="{
                                        'name': 'fadeInRightShorter',
                                        'delay': '.5s'
                                    }">
                                    <i class="icon-box-icon d-icon-secure"></i>
                                    <div class="icon-box-content rtl">
                                        <h4 class="icon-box-title text-capitalize ls-normal lh-1">
                                            پرداخت مطمئن
                                        </h4>
                                        <p class="ls-s lh-1">از طریق درگاه بانک ملت</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                                <section class="pt-10 mt-7 appear-animate" data-animation-options="{
                    'delay': '.3s'
                }">
                    <div class="container">
                        <h2 class="title title-center mb-5">به دنبال چه چیزی می گردید؟</h2>
                        <div class="row">
                            <div class="col-xs-6 col-lg-3 mb-4">
                                <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                    <a href="{% url 'store:product_by_category' category_id=1 slug='decorative' %}">
                                        <figure class="category-media">
                                            <img src="{% static 'images/shop/taziin.jpg' %}" alt="category" width="280"
                                                 height="280" style="background-color: #8c8c8d;" />
                                        </figure>
                                    </a>
                                    <div class="category-content rtl">
                                        <h4 class="category-name font-weight-bold "><a href="{% url 'store:product_by_category' category_id=1 slug='decorative' %}">تزئینی</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-lg-3 mb-4">
                                <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                    <a href="{% url 'store:product_by_category' category_id=10 slug='artistic' %}">
                                        <figure class="category-media">
                                            <img src="{% static 'images/shop/honar.jpg' %}" alt="category" width="280"
                                                 height="280" style="background-color: #bcbdb7;" />
                                        </figure>
                                    </a>
                                    <div class="category-content rtl">
                                        <h4 class="category-name font-weight-bold ">
                                            <a href="{% url 'store:product_by_category' category_id=10 slug='artistic' %}">هنری</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-lg-3 mb-4">
                                <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                    <a href="{% url 'store:product_by_category' category_id=6 slug='household-items' %}">
                                        <figure class="category-media">
                                            <img src="{% static 'images/shop/hom.jpg' %}" alt="category" width="280"
                                                 height="280" style="background-color: #ececef;" />
                                        </figure>
                                    </a>
                                    <div class="category-content rtl">
                                        <h4 class="category-name font-weight-bold "><a href="{% url 'store:product_by_category' category_id=6 slug='household-items' %}">مصارف خانگی</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-lg-3 mb-4">
                                <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                    <a href="{% url 'store:product_by_category' category_id=1000000 slug='all' %}">
                                        <figure class="category-media">
                                            <img src="{% static 'images/shop/all.jpg' %}" alt="category" width="280"
                                                 height="280" style="background-color: #e8eded;" />
                                        </figure>
                                    </a>
                                    <div class="category-content font-weight-bold">
                                        <h4 class="category-name font-weight-bold ">
                                            <a href="{% url 'store:product_by_category' category_id=1000000 slug='all' %}">همه ی محصولات</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

<section class="product-wrapper container appear-animate mt-6 mt-md-10 pt-4 pb-8" data-animation-options="{'delay': '.3s'}">
    <h2 class="title title-center mb-5">پرفروش‌ترین‌ها</h2>
    <div class="owl-carousel owl-theme row owl-nav-full cols-2 cols-md-3 cols-lg-4" data-owl-options="{
         'rtl':true,
        'items': 5,
        'nav': false,
        'loop': false,
        'dots': true,
        'margin': 20,
        'responsive': {
            '0': {
                'items': 2
            },
            '768': {
                'items': 3
            },
            '992': {
                'items': 4,
                'dots': false,
                'nav': true
            }
        }
    }">
        {% for product in products %}
        <div class="product text-center">
            <figure class="product-media">
            {% with product.images.all|first as image %}
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ image.file.url }}" alt="{{ product.name }}" width="280" height="315" style="background-color: #f2f3f5;" />
                </a>
            {% endwith %}
                {% if product.discount > 0 %}
                <div class="product-label-group">
                    <span class="product-label label-sale">{{ product.discount }}% تخفیف</span>
                </div>
                {% endif %}
                <div class="product-action-vertical">
                    <a href="" class="btn-product-icon btn-cart" title="افزودن به سبد خرید" data-product-id="{{ product.id }}"><i class="d-icon-bag" id="added"></i></a>
                    <a href="#" class="btn-product-icon btn-wishlist" title="اضافه به علاقه‌مندی" data-product-id="{{ product.id }}"><i class="d-icon-heart"></i></a>
                </div>
                <div class="product-action">
                    <a href="{{ product.get_absolute_url }}" class="btn-product " title="مشاهده و انتخاب">مشاهده و انتخاب</a>
                </div>
            </figure>
            <div class="product-details rtl">
                <div class="product-cat">
                    <a href="#">{{ product.category.name }}</a>
                </div>
                <h3 class="product-name">
                    <a href="#">{{ product.name }}</a>
                </h3>
                <div class="product-price">
                    {% if product.discount > 0 %}
                    <span class="price">{{ product.discounted_price  }} تومان</span>
                    <del>{{ product.price }} تومان</del>
                    {% else %}
                    <span class="price">{{ product.price }} تومان</span>
                    {% endif %}
                </div>
                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width:{{ product.sell|floatformat:0 }}%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="#" class="rating-reviews">( {{ product.sell }} فروش )</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


                <section class="blog-post-wrapper mt-6 mt-md-10 pt-7 appear-animate"
                         data-animation-options="{'name': 'fadeIn', 'duration': '1s'}">
                    <div class="container">
                        <h2 class="title title-center">جدیدترین مطالب وبلاگ</h2>
                        <div class="owl-carousel owl-theme post-slider row cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
                             'rtl':true,
                            'nav': false,
                            'dots': true,
                            'margin': 20,
                             'dirction':'.rtl'
                            'responsive': {
                                '0': {
                                    'items': 1
                                },
                                '576': {
                                    'items': 2
                                },
                                '992': {
                                    'items': 3,
                                    'dots': false
                                }
                            }
                        }">
                            {% for blog in blogs|slice:':3' %}
                            <div class="blog-post mb-4">
                                <article class="post post-frame overlay-zoom">
                                    <figure class="post-media">
                                        <a href="{% url 'blog:blog_detail' blog.id %}">
                                            <img src="{{ blog.gallery.first.image.url }}" alt="Blog post" width="340" height="206"
                                                 style="background-color: #919fbc;" />
                                        </a>
                                        <div class="post-calendar">
                                            <span class="post-day">∞</span>
                                            <span class="post-month">1403</span>
                                        </div>
                                    </figure>
                                    <div class="post-details ">
                                        <h4 class="post-title">
                                            <a href="{% url 'blog:blog_detail' blog.id %}">
                                                {{ blog.title }}
                                            </a>
                                        </h4>
                                        <p class="post-content">
                                            {{ blog.content|slice:':20' }}...
                                        </p>
                                        <a href="{% url 'blog:blog_detail' blog.id %}" class="btn btn-primary btn-link btn-underline">
                                            بیشتر
                                            <i class="d-icon-arrow-left"></i>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <section class="product-widget-wrapper pb-2 pb-md-10 appear-animate">
                    <div class="container ">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 mb-4">
                                <div class="widget widget-products appear-animate ltr" data-animation-options="{
                                    'name': 'fadeInLeftShorter',
                                    'delay': '.5s'
                                }">
                                    <h4 class="widget-title border-no lh-1 font-weight-bold">پرفروش ترین ها</h4>
                                    <div class="products-col rtl">
                                        {% for pro in off %}
                                            <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="{{ pro.get_absolute_url }}">
                                                    <img src="{{ pro.images.first.file.url }}" alt="product"
                                                         width="100" height="114" style="background-color: #f2f3f5;" />
                                                </a>
                                            </figure>
                                            <div class="product-details rtl">
                                                <h3 class="product-name">
                                                    <a href="{{ pro.get_absolute_url }}">{{ pro.name }}</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">{{ pro.price}} تومان</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:40%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 mb-4">
                                <div class="widget widget-products appear-animate ltr" data-animation-options="{
                                    'name': 'fadeInLeftShorter',
                                    'delay': '.3s'
                                }">
                                    <h4 class="widget-title border-no lh-1 font-weight-bold">جدیدترین ها</h4>
                                    <div class="products-col rtl">
                                        {% for pro in price %}
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="{{ pro.get_absolute_url }}">
                                                    <img src="{{ pro.images.first.file.url }}" alt="product"
                                                         width="100" height="114" style="background-color: #f2f3f5;" />
                                                </a>
                                            </figure>
                                            <div class="product-details rtl">
                                                <h3 class="product-name">
                                                    <a href="{{ pro.get_absolute_url }}">{{ pro.name }}</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">{{ pro.price}} تومان</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:40%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 mb-4">
                                <div class="widget widget-products appear-animate ltr" data-animation-options="{
                                    'name': 'fadeInRightShorter',
                                    'delay': '.3s'
                                }">
                                    <h4 class="widget-title border-no lh-1 font-weight-bold">پرتخقیف ترین ها</h4>
                                    <div class="products-col rtl">
                                        {% for pro in top %}
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="{{ pro.get_absolute_url }}">
                                                    <img src="{{ pro.images.first.file.url }}" alt="product"
                                                         width="100" height="114" style="background-color: #f2f3f5;" />
                                                </a>
                                            </figure>
                                            <div class="product-details rtl">
                                                <h3 class="product-name">
                                                    <a href="{{ pro.get_absolute_url }}">{{ pro.name }}</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">{{ pro.price}} تومان</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:40%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 mb-4">
                                <div class="widget widget-products appear-animate ltr" data-animation-options="{
                                    'name': 'fadeInRightShorter',
                                    'delay': '.5s'
                                }">
                                    <h4 class="widget-title border-no lh-1 font-weight-bold">همه ی محصولات</h4>
                                    <div class="products-col rtl">
                                        {% for pro in newest_product %}
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="{{ pro.get_absolute_url }}">
                                                    <img src="{{ pro.images.first.file.url }}" alt="product"
                                                         width="100" height="114" style="background-color: #f2f3f5;" />
                                                </a>
                                            </figure>
                                            <div class="product-details rtl">
                                                <h3 class="product-name">
                                                    <a href="{{ pro.get_absolute_url }}">{{ pro.name }}</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">{{ pro.price}} تومان</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:40%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // اضافه کردن به سبد خرید
        $('.btn-cart').click(function (e) {
            e.preventDefault();
            var button = $(this);
            var productId = button.data('product-id');

            $.ajax({
                type: 'POST',
                url: '{% url "cart:add-to-cart" 0 %}'.replace('0', productId),
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    // به‌روزرسانی سبد خرید
                    $('.reload').load(location.href + " .reload");
                    $('.price-total-1').text(data.total_price)
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.error || "خطایی رخ داده است.");
                }
            });
        });

        // حذف از سبد خرید
        $(document).on('click', '.remove_item', function (e) {
            e.preventDefault();
            var button = $(this);
            var productId = button.data('product-id');

            $.ajax({
                type: 'POST',
                url: '{% url "cart:remove-item" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'item_id': productId
                },
                success: function (data) {
                    if (data.success) {
                        button.closest('.product').remove();
                        $('.price-total-1').text(data.total_price)


                        if (data.item_count === 0) {
                            $('.reload').html('<p>سبد خرید شما خالی است</p>');
                        }
                    } else {
                        console.log(data.error || "خطایی رخ داده است.");
                    }
                },
                error: function (xhr) {
                    console.log("خطایی رخ داده است.");
                }
            });
        });
        $('.btn-wishlist').click(function () {
        var button = $(this);
        var product_id = button.data('product-id')

            $.ajax({
               url: '{% url 'store:add_to-favorite' 0 %}'.replace('0', product_id),
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function () {
                   console.log('success')
                },
                error: function (error) {
                   console.log(error)
                },
            });
        });
    });
</script>



{% endblock %}