{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
{#____________________________#}
    <title>الــماس شب | {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
{#_______________#}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="hossein">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/لوگویی2.jpg' %}">
    <!-- Preload Font -->
    <link rel="preload" href="{% static 'fonts/riode115b.ttf?55gap68' %}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}" as="font" type="font/woff2"
          crossorigin="anonymous">
    <script>
        WebFontConfig = {
            google: { families: ['vazir:300,400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '{% static 'js/webfont.js' %}';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sticky-icon/stickyicon.css' %}">
    <!-- Font Vazir -->
    <link href="{% static 'fonts/vazir/font-vazir.css' %}" rel="stylesheet" />
    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo1.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">

</head>
<body>
    {% include 'partials/header.html' %}
    {% block content %}{% endblock %}
    {% include 'partials/footer.html' %}

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/elevatezoom/jquery.elevatezoom.min.js' %}"></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendor/parallax/parallax.min.js' %}"></script>
    <script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'js/main.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
</body>
</html>